include ../shared/editable/panelfooter
include ../shared/namefield

mixin trades
  article(ng-repeat='trade in trades')
    div.panel.panel-primary.lead
      header.panel-heading
        - var _isEditing = 'isEditing(trade.id)'

        div(ng-hide=_isEditing)
          span {{trade.name}}
          span.pull-right
            span.badge {{trade.workers_count}} {{ 'WORKERS.PLURAL' | translate | lowercase }}
            span.badge {{trade.shops_count}} {{ 'SHOPS.PLURAL' | translate | lowercase }}
            span.badge {{trade.ideas_count}} {{ 'IDEAS.PLURAL' | translate | lowercase }}

        +name-field('trade', _isEditing)

      +panel-footer('trade')
