include partials/shared/editable/formbtngroup
include partials/shared/mymodalform
include partials/shared/mypending
include partials/ideas/ideaform
include partials/shared/tradable/trades

div.row
  section.col-sm-3
    +trades

  +my-pending('!ideas')
    section.col-sm-9
      article.text-center.lead(ng-repeat='idea in ideas | orderBy:"body.length":true')
        - var _isEditing = 'isEditing(idea.id)'
        
        div(ng-hide=_isEditing)
          p {{idea.body}}

        div(ng-show=_isEditing)
          +idea-form

        +form-btn-group('idea')

        hr

+my-modal-form('إضافة فكرة', 'create(idea)')
  +idea-form
