include partials/shared/editable/formbtngroup
include partials/shared/mymodalform
include partials/shared/mypending
include partials/shared/filterlist
include partials/shared/pager
include partials/ideas/ideaform
include partials/ideas/ideas

div.row
  +my-modal-form('New idea', 'create(idea)')
    +idea-form

hr

+my-pending('!ideas')
  div.row
    section.col-sm-3
      +filter-list('trade', 'ideas')

    section.col-sm-9
      +ideas
      +pager
