section.row(hide-condition='trades.length == 0' my-pending)
  article.col-sm-6(ng-repeat="trade in trades | filter:q | orderBy:'name'")
    div.panel.panel-primary
      header.panel-heading(ng-bind='trade.name')
      ul.list-group
        li.list-group-item(ng-repeat="idea in trade.ideas", title="{{idea.body}}")
          span {{idea.body}}
          button.btn.btn-danger.btn-xs.pull-left(type="button",  ng-click="destroy(idea.id)") حذف

my-modal-form(modal-button='إضافة فكرة')
  form(role='form',ng-submit='create(idea)')
    div.form-group
      select.form-control(required, autofocus, ng-model='idea.trade_id', ng-options="t.id as t.name for t in trades")

    div.form-group
      textarea.form-control(placeholder='محتوى الفكرة', required, ng-model='idea.body')

    button.btn.btn-primary.btn-lg.btn-block(type='submit') إضافة فكرة
