include mixins/mymodalform
include mixins/mypending
include mixins/trades

div.row
  +trades

  +my-pending('!ideas')
    section.col-sm-9
      
      //- Showing view
      article.text-center.lead(ng-repeat='idea in ideas | orderBy:"body.length":true')
        div(ng-hide='isEditing(idea.id)')
          p {{idea.body}}
          div.btn-group
            button.btn.btn-primary(type='button',ng-click='edit(idea.id)') تعديل
            button.btn.btn-danger(type='button',ng-click='destroy(idea.id)') حذف

        //- Editing view
        div(ng-show='isEditing(idea.id)')
          div.form-group
            select.form-control(required, autofocus,ng-model='idea.trade_id',
              ng-options='t.id as t.name for t in trades')

          div.form-group
            textarea.form-control(placeholder='محتوى الفكرة',required,
              ng-model='idea.body')

          div.btn-group
            button.btn.btn-success(type='button',ng-click='reset(idea.id)') إلغاء
            button.btn.btn-primary(type='button',ng-click='update(idea)') حفظ
        hr

+my-modal-form('إضافة فكرة', 'create(idea)')
  div.form-group
    select.form-control(required, autofocus, ng-model='idea.trade_id', ng-options="t.id as t.name for t in trades")

  div.form-group
    textarea.form-control(placeholder='محتوى الفكرة', required, ng-model='idea.body')
