include partials/shared/mymodalform
include partials/shared/filterlist
include partials/shared/mypending
include partials/shared/namefield
include partials/shops/shopform
include partials/shops/shops

div.row
  +my-modal-form('New shop', 'create(shop)')
    +shop-form('true')
      +name-field('shop', 'true')

hr

+my-pending('!shops')
  div.row
    section.col-sm-3
      +filter-list('trade', 'shops')

    section.col-sm-9(infinite-scroll='nextPage()'
      infinite-scroll-disabled='isLastPage()')

      +shops
