include partials/shared/editable/panelfooter
include partials/shared/mymodalform
include partials/shared/filterlist
include partials/shared/mypending
include partials/shops/shopname
include partials/shops/shopform

+my-pending('!shops')
  div.row
    section.col-sm-3
      +filter-list('trade')

    section.col-sm-9
      article.lead.col-sm-6(
        ng-repeat='shop in shops | filterBy:"trade_id":selectedTrade | orderBy:"name"')
        div.panel.panel-primary
          - var _isEditing = 'isEditing(shop.id)'

          header.panel-heading
            span(ng-hide=_isEditing) {{shop.name}}
            +shop-name(_isEditing)

          div.panel-body.lead
            +shop-form(_isEditing)

            div(ng-hide=_isEditing)
              p Phone: {{shop.phone}}

              p Rating: {{shop.rating}}

              p Notes: {{shop.notes}}

            p Workers count: {{shop.workers_count}}

          +panel-footer('shop')

+my-modal-form('New shop', 'create(shop)')
  +shop-form(false)
    +shop-name(false)
