include partials/shared/mymodalform
include partials/shared/editable/panelfooter
include partials/shared/mypending
include partials/shared/namefield
include partials/shared/pager

div.row
  +my-modal-form('New trade', 'create(trade)')
    +name-field('trade', 'true')

hr

+my-pending('!trades')
  div.row(infinite-scroll='nextPage()'
    infinite-scroll-disabled='isLastPage()')
    article.col-sm-4(ng-repeat='trade in trades | orderBy:"name"')
      div.panel.panel-primary.lead
        header.panel-heading
          - var _isEditing = 'isEditing(trade.id)'

          div(ng-hide=_isEditing)
            span {{trade.name}}
            span.pull-right
              span.badge {{trade.workers_count}} workers
              span.badge {{trade.shops_count}} shops
              span.badge {{trade.ideas_count}} ideas

          +name-field('trade', _isEditing)

        +panel-footer('trade')
