include partials/shared/mymodalform
include partials/shared/editable/panelfooter
include partials/shared/mypending
include partials/trades/tradeform

+my-pending('!trades')
  section.row
    article.col-sm-4(ng-repeat='trade in trades | orderBy:"name"')
      div.panel.panel-primary.lead
        header.panel-heading
          - var _isEditing = 'isEditing(trade.id)'
          
          span(ng-hide=_isEditing) {{trade.name}}
          +trade-form(_isEditing)

        div.panel-body
          p عدد الأفكار: {{trade.ideas_count}}
          p عدد المحلات: {{trade.shops_count}}
          p عدد العمال: {{trade.workers_count}}
          p عدد المواد: {{trade.materials_count}}

        +panel-footer('trade')


+my-modal-form('إضافة فئة', 'create(trade)')
  +trade-form(true)
