include partials/shared/mymodalform
include partials/shared/editable/panelfooter
include partials/shared/mypending
include partials/trades/tradeform

+my-pending('!trades')
  section.row
    article.col-sm-4(ng-repeat='trade in trades | orderBy:"name"')
      div.panel.panel-primary.lead
        header.panel-heading
          - var _isEditing = 'isEditing(trade.id)'

          span(ng-hide=_isEditing) {{trade.name}}
          +trade-form(_isEditing)

        div.panel-body
          p Ideas count: {{trade.ideas_count}}
          p Shops count: {{trade.shops_count}}
          p Workers count: {{trade.workers_count}}

        +panel-footer('trade')


+my-modal-form('New trade', 'create(trade)')
  +trade-form('true')
