include partials/shared/mymodalform
include partials/shared/mypending
include partials/shared/namefield
include partials/shared/pager
include partials/trades/trades

div.row
  +my-modal-form('New trade', 'create(trade)')
    +name-field('trade', 'true')

hr

+my-pending('!trades')
  div.row
    +trades
    +pager

