section.row(hide-condition='trades.length == 0' my-pending)
  article.col-sm-4(ng-repeat="trade in trades | filter:q | orderBy:'name'")
    //- Reading view
    div.panel.panel-primary(ng-hide="isEditing(trade.id)")
      header.panel-heading
        span {{trade.name}}
      div.panel-body
        عدد الأفكار: {{trade.ideas_count}}
      footer.panel-footer
        button.btn.btn-primary.btn-xs(type="button", ng-click="edit(trade.id)") تعديل
        button.btn.btn-danger.btn-xs(type="button", ng-click="destroy(trade.id)") حذف

    //- Editing view
    div.panel.panel-primary(ng-show="isEditing(trade.id)")
      header.panel-heading
        input(required, autofocus, type="text", ng-model="trade.name")
      div.panel-body
        عدد الأفكار: {{trade.ideas_count}}
      footer.panel-footer
        button.btn.btn-primary.btn-xs(type="button", ng-click="update(trade)") تعديل
        button.btn.btn-xs(type="button", ng-click="reset(trade.id)") إلغاء
        button.btn.btn-danger.btn-xs(type="button", ng-click="destroy(trade.id)") حذف

my-modal-form(modal-button='إضافة فئة')
  form(role='form',ng-submit='create(trade)')
    div.form-group
      input.form-control(type="text", autofocus, required, placeholder="اسم الفئة" ng-model="trade.name")
    button.btn.btn-primary.btn-lg.btn-block(type="submit") إضافة فئة
