include partials/shared/filterlist
include partials/shared/mymodalform
include partials/shared/mypending
include partials/shared/namefield
include partials/workers/workerform
include partials/workers/workers

div.row
  +my-modal-form('New contractor', 'create(worker)')
    +worker-form('true')
      +name-field('worker', 'true')

hr

+my-pending('!workers')
  div.row
    section.col-sm-3
      +filter-list('trade', 'workers')
      hr
      +filter-list('shop', 'workers')

    section.col-sm-9(infinite-scroll='nextPage()'
      infinite-scroll-disabled='isLastPage()')

      +workers
