include partials/shared/filterlist
include partials/shared/identifyable/identifyableform
include partials/shared/mymodalform
include partials/shared/mypending
include partials/shared/namefield
include partials/shared/pager
include partials/workers/workers

div.row
  +my-modal-form("{{ 'WORKERS.NEW' | translate }}", 'create(worker)')
    +identifyable-form('worker', 'true')
      +name-field('worker', 'true')

hr

+my-pending('!workers')
  div.row
    section.col-sm-3
      +filter-list('trade', 'workers')
      hr
      +filter-list('shop', 'workers')

    section.col-sm-9
      +workers
      +pager
