include partials/shared/editable/panelfooter
include partials/shared/filterlist
include partials/shared/mymodalform
include partials/shared/mypending
include partials/shared/namefield
include partials/workers/workerform

+my-pending('!workers')
  div.row
    section.col-sm-3
      +filter-list('trade', 'workers')
      hr
      +filter-list('shop', 'workers')

    section.col-sm-9
      article.lead.col-sm-6(
        ng-repeat='worker in workers | filterBy:"trade_id":selectedTrade | filterBy:"shop_id":selectedShop | orderBy:"name"')
        div.panel.panel-primary
          - var _isEditing = 'isEditing(worker.id)'

          header.panel-heading
            span(ng-hide=_isEditing) {{worker.name}}
            +name-field('worker', _isEditing)

          div.panel-body.lead
            +worker-form(_isEditing)

            div(ng-hide=_isEditing)
              p Phone: {{worker.phone}}

              p Rating: {{worker.rating}}

              p Notes: {{worker.notes}}

          +panel-footer('worker')

+my-modal-form('New contractor', 'create(worker)')
  +worker-form('true')
    +name-field('worker', 'true')
