include ../shared/editable/panelfooter
include ../shared/namefield
include ../shops/shopform

mixin shops
  article.lead.col-sm-6(
    ng-repeat='shop in shops | filterBy:"trade_id":selectedTrade')
    div.panel.panel-primary
      - var _isEditing = 'isEditing(shop.id)'

      header.panel-heading
        span(ng-hide=_isEditing)
          span {{shop.name}}
          span.pull-right
            span.badge {{shop.workers_count}} Workers

        +name-field('shop', _isEditing)

      div.panel-body.lead
        +shop-form(_isEditing)

        div(ng-hide=_isEditing)
          p Phone: {{shop.phone}}

          p Rating: {{shop.rating}}

          p Notes: {{shop.notes}}

      +panel-footer('shop')
