include ../shared/identifyableform
include ../shared/editable/panelfooter
include ../shared/namefield
include ../shared/identifyable/identifyable

mixin shops
  article.lead.col-sm-6(
    ng-repeat='shop in shops | filterBy:"trade_id":selectedTrade')

    +identifyable('shop')
