include ../shared/identifyable/identifyableform
include ../shared/editable/panelfooter
include ../shared/namefield
include ../shared/identifyable/identifyable

mixin shops
  article.lead(ng-repeat='shop in shops')

    +identifyable('shop')
