mixin trades
  +my-pending('!trades')
    div.list-group
      a.list-group-item(ng-repeat='trade in trades',
        ng-click='selectTrade(trade.id)',ng-bind='trade.name',
        ng-class='{active: isTradeSelected(trade.id)}')
