include ../shared/identifyable/identifyableform
include ../shared/editable/panelfooter
include ../shared/namefield
include ../shared/identifyable/identifyable

mixin workers
  article.lead.col-sm-6(
    ng-repeat='worker in workers | filterBy:"trade_id":selectedTrade | filterBy:"shop_id":selectedShop')

    +identifyable('worker')
