
<div ng-show="!ideas" class="text-center progress progress-striped active">
  <div role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 100%" class="progress-bar"><span class="sr-only">Pending</span></div>
</div>
<section ng-hide="!ideas">
  <div class="row">
    <section class="col-sm-3">
      <div class="list-group"><a ng-repeat="trade in trades | orderBy:'name'" ng-click="selectTrade(trade.id)" ng-class="{active: isTradeSelected(trade.id)}" class="list-group-item">{{trade.name}}<span class="badge pull-right">{{trade.ideas_count}}</span></a></div>
    </section>
    <section class="col-sm-9">
      <article ng-repeat="idea in ideas | filterBy:&quot;trade_id&quot;:selectedTrade | orderBy:&quot;body.length&quot;:true" class="text-center lead">
        <div ng-hide="isEditing(idea.id)">
          <p>{{idea.body}}</p>
        </div>
        <div ng-show="isEditing(idea.id)">
          <div ng-class="{'has-error': errors.trade_id}" class="form-group">
            <select required="required" autofocus="autofocus" ng-model="idea.trade_id" ng-options="t.id as t.name for t in trades" class="form-control"></select>
            <div ng-if="errors.trade_id">
              <p ng-repeat="error in errors.trade_id" class="help-block">{{error}}</p>
            </div>
          </div>
          <div ng-class="{'has-error': errors.body}" class="form-group">
            <textarea placeholder="Content" required="required" ng-model="idea.body" class="form-control"></textarea>
            <div ng-if="errors.body">
              <p ng-repeat="error in errors.body" class="help-block">{{error}}</p>
            </div>
          </div>
        </div>
        <div ng-hide="isEditing(idea.id)" class="btn-group">
          <button type="button" ng-click="edit(idea.id)" class="btn btn-primary">Edit</button>
          <button type="button" ng-click="destroy(idea.id)" class="btn btn-danger">Delete</button>
        </div>
        <div ng-show="isEditing(idea.id)" class="btn-group">
          <button type="button" ng-click="reset(idea.id)" class="btn btn-success">Reset</button>
          <button type="button" ng-click="update(idea)" class="btn btn-primary">Save</button>
        </div>
        <hr/>
      </article>
    </section>
  </div>
  <ul class="pager">
    <li ng-class="{disabled: (pagination.page - 1 + 1) &lt;= 1}" class="previous"><a ng-href="#/ideas?page={{pagination.page-1}}">&larr; Previous</a></li>
    <li ng-class="{disabled: (pagination.page - 1 + 1) &gt;= pagination.pages}" class="next"><a ng-href="#/ideas?page={{pagination.page - 1 + 2}}">Newer &rarr;</a></li>
  </ul>
</section>
<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-lg btn-block">New idea</button>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 id="myModalLabel" class="modal-title">New idea</h4>
      </header>
      <div class="modal-body">
        <form role="form" ng-submit="create(idea)">
          <div ng-class="{'has-error': errors.trade_id}" class="form-group">
            <select required="required" autofocus="autofocus" ng-model="idea.trade_id" ng-options="t.id as t.name for t in trades" class="form-control"></select>
            <div ng-if="errors.trade_id">
              <p ng-repeat="error in errors.trade_id" class="help-block">{{error}}</p>
            </div>
          </div>
          <div ng-class="{'has-error': errors.body}" class="form-group">
            <textarea placeholder="Content" required="required" ng-model="idea.body" class="form-control"></textarea>
            <div ng-if="errors.body">
              <p ng-repeat="error in errors.body" class="help-block">{{error}}</p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">New idea</button>
        </form>
      </div>
    </div>
  </div>
</div>