<div class="row">
  <article class="col-sm-6" ng-repeat="trade in trades | filter:q | orderBy:'name'">
    <div class="panel panel-primary">
      <header class="panel-heading" title="{{trade.description}}">
        <span class="badge pull-left">{{trade.ideas.length}}</span>
        {{trade.name}}
      </header>
      <div class="panel-body">{{trade.description || 'لا يوجد وصف'}}</div>
      <ul class="list-group">
    	<li class="list-group-item" ng-repeat="idea in trade.ideas" title="{{idea.body}}">
    		<span>{{idea.body}}</span>
        <div class="btn-group pull-left">
          <button type="button" class="btn btn-danger btn-xs" ng-click="destroy(idea.id)">حذف</button>
          <button type="button" class="btn btn-primary btn-xs" disabled="disabled">تعديل</button>
        </div>
    	</li>
      </ul>
    </div>
  </div>
</article>

<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">فكرة جديدة</button>

<!-- Modal -->
<section class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">فكرة جديدة</h4>
      </div>
      <div class="modal-body">
        <form role="form" ng-submit="create()">
          <div class="form-group">
            <select class="form-control" required="required" ng-model="idea.trade_id" ng-options="t.id as t.name for t in trades">
            </select>
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="محتوى الفكرة" required="required" ng-model="idea.body"></textarea>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">أضف الفكرة</button>
        </form>
      </div>
    </div>
  </div>
</section>
