
<section hide-condition="trades.length == 0" my-pending="my-pending" class="row">
  <article ng-repeat="trade in trades | filter:q | orderBy:'name'" class="col-sm-4">
    <div ng-hide="isEditing(trade.id)" class="panel panel-primary">
      <header class="panel-heading"><span>{{trade.name}}</span></header>
      <div class="panel-body">عدد الأفكار: {{trade.ideas_count}}</div>
      <footer class="panel-footer">
        <button type="button" ng-click="edit(trade.id)" class="btn btn-primary btn-xs">تعديل</button>
        <button type="button" ng-click="destroy(trade.id)" class="btn btn-danger btn-xs">حذف</button>
      </footer>
    </div>
    <div ng-show="isEditing(trade.id)" class="panel panel-primary">
      <header class="panel-heading">
        <input required="required" autofocus="autofocus" type="text" ng-model="trade.name"/>
      </header>
      <div class="panel-body">عدد الأفكار: {{trade.ideas_count}}</div>
      <footer class="panel-footer">
        <button type="button" ng-click="update(trade)" class="btn btn-primary btn-xs">تعديل</button>
        <button type="button" ng-click="reset(trade.id)" class="btn btn-xs">إلغاء</button>
        <button type="button" ng-click="destroy(trade.id)" class="btn btn-danger btn-xs">حذف</button>
      </footer>
    </div>
  </article>
</section>
<my-modal-form modal-button="إضافة فئة">
  <form role="form" ng-submit="create(trade)">
    <div class="form-group">
      <input type="text" autofocus="autofocus" required="required" placeholder="اسم الفئة" ng-model="trade.name" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">إضافة فئة</button>
  </form>
</my-modal-form>