button.btn.btn-success.btn-lg.btn-block(type='button',data-toggle='modal',data-target='#myModal',ng-bind='modalButton')

div#myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  div.modal-dialog
    div.modal-content
      header.modal-header
        button.close.pull-left(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4#myModalLabel.modal-title(ng-bind='modalButton')
      div.modal-body(ng-transclude)
