//- section.progress.progress-striped.active(ng-show='hideCondition')
//-   div.progress-bar(role='progressbar', style='width: 100%')
//-     span.sr-only Pending

div.text-center: i.fa.fa-refresh.fa-spin.fa-5x(ng-show='hideCondition')

section(ng-hide='hideCondition' ng-transclude)
